/* Complex Search Container (Component / Layout / Min + Max) */
.complex-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 40px;
    position: absolute;
    width: 857px;
    height: 848px;
    left: calc(50% - 857px/2 - 0.5px);
    top: 150px;
    background: #996D35;
}

/* FAQ - Foire Aux Questions */
.faq {
    width: 771px;
    height: 603px;
    font-family: 'MedievalSharp';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.R{
    color: blue;
}
.Q{
    color: red;
}#background-left {
    position: fixed;
    top: 0;
    left: -19%;
    width: 50%; /* ou la taille que vous souhaitez */
    height: 100%;
    background-image: url('../images/fondGauche.png');
    background-size: cover; /* ou ajustez selon vos besoins */
    z-index: -1; /* assurez-vous qu'il reste en arrière-plan */
  }
  
  #background-right {
    position: fixed;
    top: 0;
    right: -15%;
    width: 50%; /* ou la taille que vous souhaitez */
    height: 100%;
    background-image: url('../images/fondDroit.png');
    background-size: cover; /* ou ajustez selon vos besoins */
    z-index: -1; /* assurez-vous qu'il reste en arrière-plan */
  }  body {
    background-color: #f0f0f0;
    text-align: center;
  }