/* Reset des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles de base pour le corps de la page */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  /* Conteneur principal */
  .content {
    max-width: 1200px;
    margin: 0 auto; /* Centre le contenu horizontalement */
    padding: 20px;
    display: flex;
    flex-direction: row; /* Aligne les éléments horizontalement */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
  }
  
  /* Image 1 à gauche */
  .image-container-left {
    flex: 1; /* Prend 1/3 de l'espace disponible */
    text-align: right; /* Alignement à droite */
  }
  
  .image-1 {
    width: 100%; /* Largeur de 100% de la fenêtre */
    max-width: 100%;
    height: auto;
  }
  
  /* Texte d'accueil */
  .texte-accueil {
    flex: 1; /* Prend 1/3 de l'espace disponible */
    font-size: 18px;
    text-align: center;
    padding: 20px;
  }
  
  /* Image 2 à droite */
  .image-container-right {
    flex: 1; /* Prend 1/3 de l'espace disponible */
    text-align: left; /* Alignement à gauche */
  }
  
  .image-2 {
    width: 100%; /* Largeur de 100% de la fenêtre */
    max-width: 100%;
    height: auto;
  }
  