/* Style général du corps de la page */
body {
    font-family: 'MedievalSharp', serif; /* Appliquer la police MedievalSharp à tous les éléments du texte */
    background-color: rgba(244,234,210,255); /* Couleur brun clair pour le fond */
    margin: 0;
    padding: 0;
}

/* Style du conteneur principal */
.container, form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Style des titres */
h2 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

/* Style des labels */
label {
    color: #666;
    display: block;
    margin-bottom: 5px;
}

/* Style des inputs de formulaire */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style du bouton d'inscription */
input[type="submit"] {
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

/* Style des liens */
a {
    text-decoration: none;
    color: #5cb85c;
}

a:hover {
    text-decoration: underline;
}

/* Style des messages d'erreur */
div[style="color: red;"] {
    background-color: #ffc0cb;
    color: red;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

/* Style du conteneur de l'input de mot de passe */
.password-input {
    position: relative;
    display: flex;
}

/* Style de l'icône de visibilité du mot de passe */
.password-toggle {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
}

/* Assurez-vous que tout contenu est bien contenu dans le body */
html, body {
    height: 100%;
    overflow-x: hidden;
}

/* Style de base pour la barre de navigation */
nav {
    background-color: #8B4513;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: url('../images/Nav.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; /* ou 'contain' si vous souhaitez que toute l'image soit visible */
  height: 120px; /* la hauteur de votre barre de navigation */
  width: 100%;
}

/* Style pour le logo */
.logo {
    font-size: 24px;
    color: #FFF;
    /* Ajoutez ces règles pour redimensionner le logo */
    display: flex;
    align-items: center;
}

/* Style pour l'image du logo */
.logo-image {
    max-width: 100px; /* Ajustez la largeur maximale selon vos besoins */
    height: auto; /* Garantit que la hauteur s'ajuste proportionnellement à la largeur */
}

/* Style pour la liste de navigation */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Style pour chaque élément de la liste */
nav ul li {
    margin: 0 10px;
}

/* Style pour les liens de la barre de navigation */
nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    background-color: burlywood;

}

nav ul li a:hover {
    text-decoration: underline;
}

/* Style pour les informations utilisateur */
.user-info {
    text-align: right;
}

.user-info a {
    color: #FFF;
    text-decoration: none;
}

.user-info a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'MedievalSharp';
    src: url('../Police/MedievalSharp-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#background-left {
    position: fixed;
    top: 0;
    left: -19%;
    width: 50%; /* ou la taille que vous souhaitez */
    height: 100%;
    background-image: url('../images/fondGauche.png');
    background-size: cover; /* ou ajustez selon vos besoins */
    z-index: -1; /* assurez-vous qu'il reste en arrière-plan */
  }
  
  #background-right {
    position: fixed;
    top: 0;
    right: -15%;
    width: 50%; /* ou la taille que vous souhaitez */
    height: 100%;
    background-image: url('../images/fondDroit.png');
    background-size: cover; /* ou ajustez selon vos besoins */
    z-index: -1; /* assurez-vous qu'il reste en arrière-plan */
  }
  
  .content {
    background-color: rgba(244,234,210,255);
    position: relative;
    z-index: 1; /* cela le met au-dessus des images de fond */
    /* Plus de styles pour le contenu ici */
  }
  /* Styles pour le "C" de "Créer" */
.grand-rouge {
    font-size: 37px; /* Taille de police plus grande */
    color: red; /* Couleur rouge */
  }
  